@import url("https://fonts.googleapis.com/css?family=Abril+Fatface:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext");

body {
  background-color: #282c34 !important;
  font-family: "Roboto";
}

/**/
/* IntroText */
/**/

/* margin separatae */
.intro-text-list {
  padding: 0;
}
.intro-text-list li {
  margin-bottom: 1em;
  list-style-type: none;
  color: lightgrey;
}

/**/
/* ChannelDropdown */
/**/

/* white border color */
.MuiFormLabel-root,
.MuiInputBase-formControl,
.MuiOutlinedInput-notchedOutline,
.MuiSelect-icon {
  color: white !important;
  border-color: white !important;
}

/**/
/* TopVideosTable */
/**/

/* define class for centering columns */
.col-header-center {
  font-size: 18px !important;
}

/* change font size of cols on small screen size */
@media only screen and (max-width: 600px) {
  .col-header-center {
    font-size: 12px !important;
  }
}

/* remove border on search bar */
.MuiInput-underline:before,
.MuiInputBase-root:before {
  border: none !important;
  transition: none !important;
}

/* search bar white entry line */
.MuiInputBase-input {
  border-bottom: 1px solid white !important;
}

/* striped rows */
.odd-row {
  background-color: #556dd639 !important;
}

/* remove last col separator */
.MuiDataGrid-columnHeader:last-of-type .MuiDataGrid-columnSeparator--sideRight {
  display: none;
}

/* make the column quote */
.quote-col {
  padding: 5px 0 !important;
}

/**/
/* VideoEmbed */
/**/

/* cool styling on iframe */
.video-container {
  --border-radius: 25px;
  position: relative;
  padding-bottom: 56.25%;
  aspect-ratio: 16 / 9;
  /* The next three declarations simulate
     `filter: drop-shadow(0 0 4px rgb(0 0 0 / 50%));` 
  */
  border-radius: var(--border-radius);
  box-shadow: 0 0 6px rgb(0 0 0 / 50%);
  background-color: rgba(0, 0, 0, 0.3);
}

/* responsive iframe size */
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(0% 0% 0% 0% round var(--border-radius));
}

/**/
/* Blockquote */
/**/

/* relative position for quotes */
blockquote {
  position: relative;
}

/* top left quote */
blockquote:before {
  position: absolute;
  content: open-quote;
  font-size: 4em;
  margin-left: -0.6em;
  margin-top: -0.4em;
}

/* bottom right quote */
blockquote:after {
  position: absolute;
  content: close-quote;
  font-size: 4em;
  bottom: 0;
  right: 0;
  margin-right: -0.6em;
  margin-bottom: -0.8em;
}

/* Utils */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
